@font-face {
  font-family: "Harry P";
  src: url("../HARRYP.TTF");
}

body,
html {
  background: url(../images/background.jpg) no-repeat center fixed;
  background-size: cover;
  font-family: "Harry P";

}

#title {
  background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
  background: linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#harry {
  font-size: 11.25rem;
}

#and,
#the {
  font-size: 1.25rem;
}

#really,
#trivia {
  font-size: 2.5rem;
}

#and {
  margin-left: 10.625rem;
  margin-top: -3.75rem;
}

#the {
  margin-left: 15rem;
  margin-top: -0.1875rem;
}

#really {
  margin-left: 21.875rem;
}

#trivia {
  margin-left: 33.125rem;
  margin-top: 0.3125rem;
}

.btn {
  color: #fff;
  background-color: #DF9F28;
  font-size: 30px;
  margin-top: 50px;
  width: 300px;
}

.container {
  color: #fff;
  margin-top: 50px;
  font-size: 50px;
  letter-spacing: 1px;
  line-height: 4rem;
}

input {
  margin-right: 20px;
  vertical-align: middle;
}

.big {
  width: 1.25rem;
  height: 1.25rem;
}

img {
  width: 425px;
  height: auto;
}